
html {
    background: url('stars.jpg') no-repeat fixed center;          
    }
            
#logoWrapper {
               
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 150px;
    }